// Footer
footer.footer
  .container
    
    .footer__top
      .row
        .col-lg-5.col-md-12
          .footer__contacts
            .row
              .col-md-6.col-lg-12
                .footer__phone 
                  a(href="tel:") 8 (495) 
                    b.b 229-30-58 
                  small (круглосуточно)
                p
                  small.color--primary Наркологическая клиника 
                  br
                  | ООО "Наркопроф"
              .col-md-6.col-lg-12
                p
                  small АДРЕС
                  br
                  | г. Москва, Варшавское шоссе 58, корпус 2
                p
                  small E-mail: 
                  br
                  a(href="mailto:") info@narcoprof.ru
        .d-none.d-md-block.col-lg-4.col-md-6
          nav(role="navigation").footer__nav
            ul
              li: a(href="#!") Кодирование от алкоголизма
              li: a(href="#!") Вывод из запоя
              li: a(href="#!") Лечение алкогольной зависимости на дому
              li: a(href="#!") Кодирование от наркотической зависимости
        .d-none.d-md-block.col-lg-3.col-md-6
          nav(role="navigation").footer__nav
            ul
              li: a(href="#!") Услуги
              li: a(href="#!") Лицензии
              li: a(href="#!") Статьи
              li: a(href="#!") Отзывы
              li: a(href="#!") Цены
              li: a(href="#!") Контакты

    .footer__bottom
      .row
        .col-lg-6.col-md-auto
          .footer__copyright © 2013-2019 Наркологическая клиника «Наркотизм».
        .col-lg-6.col-md
          .footer__development Разработка и поддержка
            a(href="#!" target="_blank")
              img(src="./images/piarme-logo.png", alt="piarme")

      hr
      .footer__info Внимание! Информация на сайте не является публичной офертой. Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости и сроках выполнения услуг, пожалуйста, обращайтесь к сотрудникам наркологической клиники.
