doctype

html(lang="ru")

  -var pageTitle = 'Статья' + ' - Наркопроф' //title страницы для генерации верстки
  -var active = 'Статьи'
  -var navigation = { 'Лечение алкоголизма':'#!', 'Лечение наркомании':'#!', 'Услуги':'#!', 'Лицензии':'#!', 'Статьи':'#!', 'Отзывы':'#!', 'Цены':'#!', 'Контакты':'#!'};

  include ./_include/_head

  body.body--all
    // Preloader
    include ./_include/_preloader

    +mobileNav

    .base
      include ./_include/_header

      // Content
      main.content.content--all
        .container

          .breadcrumbs
            ul
              li
                a(href="#!") Центр помощи Наркопроф
              li
                a(href="#!") Название раздела
              li
                span Название страницы

          .row
            .col-lg-8
              section.content__document
                h1 Название страницы

                .document__thumb
                  img(src="./tmp/1-article.png", alt="")
                  .document__introtext Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты

                p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                h2 Великий Оксмокс предупреждал ее о злых запятых
                p Диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
                p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. 

                h2 Далеко-далеко за словесными горами
                p Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.

            .col-lg-4
              aside.aside
                +asideBanner

                // Navigation
                +asideNav

      // Consultation
      +consultationFooter

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

