doctype

html(lang="ru")

  -var pageTitle = '1 услуга' + ' - Наркопроф' //title страницы для генерации верстки
  -var active = 'Услуги'
  -var navigation = { 'Лечение алкоголизма':'#!', 'Лечение наркомании':'#!', 'Услуги':'#!', 'Лицензии':'#!', 'Статьи':'#!', 'Отзывы':'#!', 'Цены':'#!', 'Контакты':'#!'};

  include ./_include/_head

  body.body--all
    // Preloader
    include ./_include/_preloader

    +mobileNav

    .base
      include ./_include/_header

      // Content
      main.content.content--all
        .container

          .breadcrumbs
            ul
              li
                a(href="#!") Центр помощи Наркопроф
              li
                a(href="#!") Название раздела
              li
                span Название страницы

          .row
            .col-lg-8
              section.content__document

                .services__header
                  h1 Кодирование от наркомании (кодирование от наркотической зависимости)

                .document__thumb
                  img(src="./tmp/1-article.png", alt="")
                  .clear20

                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот.
                p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 

                h2 Великий Оксмокс предупреждал ее о злых запятых
                p Диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
                p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. 

                h2 Реабилитационный центр — стоимость
                table.table.table-striped
                  tbody
                    tr
                      td Реабилитация в Москве/М.О.
                      td 
                        b 70 000 руб 
                        | / месяц
                    tr
                      td Реабилитация в Испании
                      td 
                        b 90 000 руб 
                        | / месяц
                    tr
                      td Реабилитация в Рязани
                      td 
                        b 40 000 руб 
                        | – 
                        b 50 000 руб 
                        | / месяц
                    tr
                      td Курсовая реабилитация (1 сеанс)	
                      td 
                        b 4 000 
                        | руб

              // Service map
              .content__map
                .content__map-top
                  .content__map-info Мы предоставляем услуги лечения алкоголизма в следующих населенных пунктах Московской области:
                .content__map-body.has-more
                  ul
                    li Барвиха
                    li Балашиха
                    li Голицино
                    li Высоковск
                    li Волоколамск
                    li Дзержинск
                    li Долгопрудное
                    li Егорьевск
                    li Жуковский
                    li Железнодорожный
                    li Звенигород
                    li Котельники
                    li Кашира
                    li Красноармейск
                    li Красногорск
                    li Лобно
                    li Лыткарино
                    li Люберцы
                    li Монино
                    li Нахабино
                    li Ногинск
                    li Одинцово
                    li Подольск
                    li Раменское
                    li Реутов
                    li Серпухов
                    li Софрино
                    li Ступино
                    li Чехов
                    li Черноголовка
                    li Щелково
                    li Щербинка
                    li Электросталь

              .d-lg-none
                .clear60

            .col-lg-4
              aside.aside
                +asideBanner

                // Navigation
                +asideNav

      // Consultation
      +consultationFooter

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

