doctype

html(lang="ru")

  -var pageTitle = 'О нас' + ' - Наркопроф' //title страницы для генерации верстки
  -var active = ''
  -var navigation = { 'Лечение алкоголизма':'#!', 'Лечение наркомании':'#!', 'Услуги':'#!', 'Лицензии':'#!', 'Статьи':'#!', 'Отзывы':'#!', 'Цены':'#!', 'Контакты':'#!'};

  include ./_include/_head

  body.body--all
    // Preloader
    include ./_include/_preloader

    +mobileNav

    .base
      include ./_include/_header

      // Content
      main.content.content--all
        .container

          .breadcrumbs
            ul
              li
                a(href="#!") Центр помощи Наркопроф
              li
                a(href="#!") Название раздела
              li
                span Название страницы

          .row
            .col-lg-8
              section.content__document
                h1 о нас
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот.

                .content__carousel
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-1.png", alt="")
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-2.png", alt="")
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-3.png", alt="")
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-1.png", alt="")
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-2.png", alt="")
                  div
                    .content__carousel-block
                      img(src="./tmp/about-carousel-3.png", alt="")

                p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                h2 Великий Оксмокс предупреждал ее о злых запятых
                p Диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
                p Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. 

                h2 Далеко-далеко за словесными горами
                p Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор.

              // Our specialist
              .specialist
                h2 Наши специалисты

                .specialist__block
                  .specialist__thumb
                    .specialist__thumb-img
                      img(src="./tmp/doctors-img.png", alt="")
                    .specialist__thumb-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                      b Стаж 15 лет
                  .specialist__block-content
                    .specialist__block-title Гурьев 
                      small Николай Константинович
                    p Окончил Российский Государственный Медицинский Университет (РГМУ) в 2003 году.
                    p В 2006-2008 гг. обучался в клинической ординатуре на кафедре психиатрии и медицинской психологии РГМУ. С сентября 2009 года работает в РГМУ ассистентом кафедры психиатрии (затем в Российском национальном исследовательском медицинском университете (РНИМУ).
                    p С 2005 по 2008 гг. обучался в очной аспирантуре на кафедре психиатрии и медицинской психологии РНИМУ, работает над кандидатской диссертацией на тему: «клинико-динамическая характеристика тревожно-фобических расстройств у больных, госпитализированных в общепсихиатрический стационар». Проводит семинарские занятия со студентами различных факультетов.
                .specialist__block
                  .specialist__thumb
                    .specialist__thumb-img
                      img(src="./tmp/doctors-img.png", alt="")
                    .specialist__thumb-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                      b Стаж 15 лет
                  .specialist__block-content
                    .specialist__block-title Константинов 
                      small Николай Иванович
                    p Витебский государственный мединститут. Лечебный факультет. Специальность: лечебное дело 1975-1981, интернатура 1981-1982, специальность: врач психиатр-нарколог.
                    p Ленинградский НИИ им. В.М. Бехтерева — усовершенствование по психотерапии 1989. Клиническая ординатура на кафедре психиатрии и наркологии Витебского государственного мединститута 1992- 1994 — специальность: психиатрия. Курсы повышения квалификации на кафедрах психиатрии и психотерапии Белорусской медицинской академии последипломного  образования (всего 8 раз).
                    p В декабре 2010 – январе 2011 прошел повышение квалификации в Российском университете дружбы народов и получил сертификат по специальности «психиатрия-наркология».
                .specialist__block
                  .specialist__thumb
                    .specialist__thumb-img
                      img(src="./tmp/doctors-img.png", alt="")
                    .specialist__thumb-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                      b Стаж 15 лет
                  .specialist__block-content.has-more
                    .specialist__block-title Федотов 
                      small Лев Викторович
                    p Федотов Лев Викторович, 1975 г.р., окончил Российский государственный медицинский университет (РГМУ) в 1999 г.
                    p В 1999-2001 гг. обучался в клинической ординатуре на кафедре психиатрии и медицинской психологии РГМУ.
                    p С февраля 2002 г. по ноябрь 2012 г. работал в РГМУ (затем в Российском национальном исследовательском медицинском университете (РНИМУ)) в должности ассистента кафедры психиатрии и медицинской психологии. С ноября 2012 является доцентом этой же кафедры, где читает лекции по разным аспектам психиатрии и проводит семинарские занятия с российскими и иностранными студентами.наркологии Витебского государственного мединститута 1992- 1994 — специальность: психиатрия. Курсы повышения квалификации на кафедрах психиатрии и психотерапии Белорусской медицинской академии последипломного  образования (всего 8 раз).
                    p В декабре 2010 – январе 2011 прошел повышение квалификации в Российском университете дружбы народов и получил сертификат по специальности «психиатрия-наркология».

            .col-lg-4
              aside.aside
                +asideBanner

                // Navigation
                +asideNav

      // Consultation
      +consultationFooter

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

