doctype

html(lang="ru")

  -var pageTitle = 'Главная' + ' - Наркопроф' //title страницы для генерации верстки
  -var active = ''
  -var navigation = { 'Лечение алкоголизма':'#!', 'Лечение наркомании':'#!', 'Услуги':'#!', 'Лицензии':'#!', 'Статьи':'#!', 'Отзывы':'#!', 'Цены':'#!', 'Контакты':'#!'};

  include ./_include/_head

  body
    // Preloader
    include ./_include/_preloader

    +mobileNav

    .base
      include ./_include/_header

      // Main section
      .main-section(style="background-image: url('./images/main-section.png');")
        .container

          .main-section__wrapper
            .main-section__title Наркологический центр 
              small лечение алкоголизма и наркомании:

            .main-section__content
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 

            .main-advantages
              .main-advantages__block.is-hover
                .main-advantages__img
                  img(src="./images/main-advantages-1.svg", alt="")
                .main-advantages__text доступные цены
              .main-advantages__block
                .main-advantages__img
                  img(src="./images/main-advantages-2.svg", alt="")
                .main-advantages__text доступные цены
              .main-advantages__block
                .main-advantages__img
                  img(src="./images/main-advantages-3.svg", alt="")
                .main-advantages__text доступные цены
              .main-advantages__block
                .main-advantages__img
                  img(src="./images/main-advantages-4.svg", alt="")
                .main-advantages__text доступные цены
              .main-advantages__block
                .main-advantages__img
                  img(src="./images/main-advantages-5.svg", alt="")
                .main-advantages__text доступные цены

            a(href="#!").btn__consultation
              span получить бесплатную консультацию

      // Content
      .content
        .content__square.content__square--one

        // Sevices
        .services
          .container

            .services__wrapper
              .row

                .services__block
                  .services__block-wrapper
                    .services__block-title ВЫЗОВ НАРКОЛОГА
                    .services__block-intro Врача нарколога можно пригласить на дом. Это конфиденциальная услуга. Преимуществом данной процедуры является привычная домашняя обстановка, поддержка близки людей и комфорт для пациента. Врача нарколога можно пригласить на дом. Это конфиденциальная услуга. Преимуществом данной процедуры является привычная домашняя обстановка, поддержка близки людей и комфорт для пациента.
                    .services__block-content
                      .h5 Виды лечения:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре

                .services__block
                  .services__block-wrapper
                    .services__block-title КОДИРОВАНИЕ ЗАВИСИМОСТЕЙ
                    .services__block-intro Кодирование — эффективнейший метод лечения зависимостей. Когда не удается справиться с болезнью самостоятельно, тогда без помощи опытных профессионалов не обойтись.
                    .services__block-content
                      .h5 Виды лечения:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма

                .services__block
                  .services__block-wrapper
                    .services__block-title СТАЦИОНАРНОЕ ЛЕЧЕНИЕ
                    .services__block-intro Лечение в стационаре обеспечивает максимально возможный эффект от лечения. Пациент находится под круглосуточным наблюдением профессионалов, в комфортных условиях.
                    .services__block-content
                      .h5 Виды лечения:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре

                .services__block
                  .services__block-wrapper
                    .services__block-title реабилитация
                    .services__block-intro Этап реабилитации является заключительным процессом лечения. Только при качественно проведенной реабилитации можно говорить о надежном возврате человека к здоровому образу жизни.
                    .services__block-content
                      .h5 Виды лечения:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре

                .services__block
                  .services__block-wrapper
                    .services__block-title поддержка
                    .services__block-intro Психологическая помощь зависимым и его семье. Только при качественно проведенной реабилитации можно говорить о надежном возврате человека к здоровому образу жизни.
                    .services__block-content
                      .h5 Реабилитация возможна:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре
        
                .services__block
                  .services__block-wrapper
                    .services__block-title поддержка
                    .services__block-intro Психологическая помощь зависимым и его семье. Только при качественно проведенной реабилитации можно говорить о надежном возврате человека к здоровому образу жизни.
                    .services__block-content
                      .h5 Виды лечения:
                      p — Транспортировка в стационар (бесплатно)
                        br
                        | — Детоксикация организма
                        br
                        | — Кодирование от зависимостей в стационаре

        // About
        .about
          .container

            .about__wrapper
              .row
                .col-lg-6

                  //- .about__img
                  //-   img(src="./tmp/about-gallery-2.png", alt="")
                  .about__carousel.gallery
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-1.png").gallery-item
                          img(src="./tmp/about-gallery-1.png", alt="")
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-2.png").gallery-item
                          img(src="./tmp/about-gallery-2.png", alt="")
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-3.png").gallery-item
                          img(src="./tmp/about-gallery-3.png", alt="")
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-4.png").gallery-item
                          img(src="./tmp/about-gallery-4.png", alt="")
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-5.png").gallery-item
                          img(src="./tmp/about-gallery-5.png", alt="")
                    div
                      .about__carousel-block
                        a(href="./tmp/about-gallery-6.png").gallery-item
                          img(src="./tmp/about-gallery-6.png", alt="")

                .col-lg-6
                  .about__content
                    .content__head
                      .h1 
                        small Наркологическая клиника 
                        | «Наркопроф»
                      
                    p Наш центр лечения алкоголизма (лечения алкогольной зависимости) в Москве предоставляет населению большой спектр услуг – это вывод из запоя, кодирование (кодировка), консультации специалистов, устранение «похмельного синдрома», а также изучение и помощь в каждом отдельном случае. Только позвонив в наш центр, вы можете вызвать врача круглосуточно и в любую точку города. 
                    p Наш центр алкоголизма в Москве занимает ведущие позиции среди всех лучших центров странеы. У нас работают только высококвалифицированные специалисты, которые готовы помочь вам ежеминутно. Стоит отметить, что в нашем центре алкоголизма только самые низкие цены, которые доступны для любого кошелька.
                    p
                      a(href="about.html") Подробнее


        // Doctors
        .doctors
          .container
            
            .doctors__info Мы сотрудничаем со многими клиниками, стационарами и реабилитационными центрами. Это позволяет предложить Вам более выгодные условия при лечении и госпитализации в выбранный медцентр, чем при прямом обращении в него.

            .content__head
              .h1 ГЛАВНЫЕ СПЕЦИАЛИСТЫ КЛИНИКИ
              p Мы помогаем даже в самых тяжелых случаях!

            .doctors__wrapper
              .row
                .col-lg-3.col-md-4
                  .doctors__nav
                    .doctors__nav-mobile
                      span 
                    .doctors__nav-list
                      ul#doctorsTab.nav(role="tablist")
                        li
                          a#doctor1-tab(data-toggle="tab" href="#doctor1" role="tab" aria-controls="doctor1" aria-selected="true").active Гурьев Николай Константинович
                        li
                          a#doctor2-tab(data-toggle="tab" href="#doctor2" role="tab" aria-controls="doctor2" aria-selected="false") Константинов Николай Иванович
                        li
                          a#doctor3-tab(data-toggle="tab" href="#doctor3" role="tab" aria-controls="doctor3" aria-selected="false") Федотов Лев Викторович
                        li
                          a#doctor4-tab(data-toggle="tab" href="#doctor4" role="tab" aria-controls="doctor4" aria-selected="false") Орехов Николай Александрович
                .col-lg-9.col-md-8
                  .tab-content#doctorsTabContent
                    .tab-pane.fade.show.active#doctor1(role='tabpanel' aria-labelledby='doctor1-tab')
                      .doctors__block
                        .doctors__block-title Гурьев 
                          small Николай Константинович
                        p Является сертифицированным психотерапевтом. Область научных интересов: тревожные расстройства, аффективные расстройства, расстройства шизофренического спектра, психофармакотерапия, психотерапия. Неоднократный участник Школы молодых ученых Российского общества психиатров (РОП) (2010, 2011, 2013). Член Российского общества психиатров и Европейского колледжа по нейропсихофармакологии (ECNP).
                        .doctors__img
                          .doctors__img-img
                            img(src="./tmp/doctors-img.png", alt="")
                          .doctors__img-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                            b Стаж 15 лет

                    .tab-pane.fade#doctor2(role='tabpanel' aria-labelledby='doctor2-tab')
                      .doctors__block
                        .doctors__block-title Константинов 
                          small Николай Иванович
                        p Является сертифицированным психотерапевтом. Область научных интересов: тревожные расстройства, аффективные расстройства, расстройства шизофренического спектра, психофармакотерапия, психотерапия. Неоднократный участник Школы молодых ученых Российского общества психиатров (РОП) (2010, 2011, 2013). Член Российского общества психиатров и Европейского колледжа по нейропсихофармакологии (ECNP).
                        .doctors__img
                          .doctors__img-img
                            img(src="./tmp/doctors-img.png", alt="")
                          .doctors__img-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                            b Стаж 15 лет
                    .tab-pane.fade#doctor3(role='tabpanel' aria-labelledby='doctor3-tab')
                      .doctors__block
                        .doctors__block-title Федотов 
                          small Лев Викторович
                        p Является сертифицированным психотерапевтом. Область научных интересов: тревожные расстройства, аффективные расстройства, расстройства шизофренического спектра, психофармакотерапия, психотерапия. Неоднократный участник Школы молодых ученых Российского общества психиатров (РОП) (2010, 2011, 2013). Член Российского общества психиатров и Европейского колледжа по нейропсихофармакологии (ECNP).
                        .doctors__img
                          .doctors__img-img
                            img(src="./tmp/doctors-img.png", alt="")
                          .doctors__img-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                            b Стаж 15 лет
                    .tab-pane.fade#doctor4(role='tabpanel' aria-labelledby='doctor4-tab')
                      .doctors__block
                        .doctors__block-title Орехов 
                          small Николай Александрович
                        p Является сертифицированным психотерапевтом. Область научных интересов: тревожные расстройства, аффективные расстройства, расстройства шизофренического спектра, психофармакотерапия, психотерапия. Неоднократный участник Школы молодых ученых Российского общества психиатров (РОП) (2010, 2011, 2013). Член Российского общества психиатров и Европейского колледжа по нейропсихофармакологии (ECNP).
                        .doctors__img
                          .doctors__img-img
                            img(src="./tmp/doctors-img.png", alt="")
                          .doctors__img-title ВЕДУЩИЙ ПСИХИАТР-НАРКОЛОГ
                            b Стаж 15 лет

              .doctors__all
                a(href="#!") Все специалисты

        // Consultation
        .consultation
          .container

            .consultation__wrapper
              div
                .consultation__info 
                  strong.text-uppercase Получите бесплатную консультацию 
                  | для 
                  br
                  | Вашего близкого или индивидуальный план лечения
              div
                a(href="#feedback").btn.btn--reverse.open-popup-link Хочу получить

        // Advantages
        .advantages
          .container

            .row
              .col-lg-3.col-md-6
                .advantages__block.advantages__block--1
                  .advantages__block-thumb
                    img(src="./images/advantages-icon-1.svg", alt="Опыт и знания" width="108")
                  .advantages__block-title Опыт и знания
                  p Опыт работы клиники 9 лет
              .col-lg-3.col-md-6
                .advantages__block.advantages__block--2
                  .advantages__block-thumb
                    img(src="./images/advantages-icon-2.svg", alt="Высокая квалификация" width="90")
                  .advantages__block-title Высокая квалификация
                  p Широкий спектр медицинской помощи по более чем 50 врачебных специальностей
              .col-lg-3.col-md-6
                .advantages__block.advantages__block--3
                  .advantages__block-thumb
                    img(src="./images/advantages-icon-3.svg", alt="Круглосуточная работа" width="95")
                  .advantages__block-title Круглосуточная работа
                  p Контакт-центр информирует и осуществляет запись пациентов 24/7
              .col-lg-3.col-md-6
                .advantages__block.advantages__block--4
                  .advantages__block-thumb
                    img(src="./images/advantages-icon-4.svg", alt="защита личности" width="100")
                  .advantages__block-title защита личности
                  p Анонимность и конфиденциальность

        // Comments
        .comments
          .container

            .content__head
              .h1 клиенты благодарят
              p Отзывы наших клиентов. По соображениям безопастности и анонимности, имена скрыты.

          .comments__wrapper
            .comments__nav
              button#comments__prev.comments__nav-prev(type='button')
              button#comments__next.comments__nav-next(type='button')
              
            .comments__carousel
              - for (var i=0; i<8; i++) {
              div
                .comments__block
                  .comments__block-wrapper
                    p Доброго дня! Хочу выразить благодарность врачам клиники Наркотизм за возможность увидеть мир трезвыми глазами! Выпивать я начала ещё в студенчестве, пыталась не отстать от друзей. Не думала, что через 10 лет я  — женщина, мать настоящей...
                    a(href="./tmp/comment-img.png" title="Анонимно, г. Москва").comments__block-img.image-popup
                      img(data-lazy="./tmp/comment-img.png", alt="" width="170")
                  .comments__block-name
                    strong Анонимно, 
                    | г. Москва
              - }

          .container.text-center
            a(href="#!") Все отзывы

        // News
        .news
          .news__square
          .container

            .content__head
              .h1 новости
              p Актуальная и полезная информация для вашего ознакомления

            .news__wrapper
              .row
                .col-lg-4.col-md-6
                  .news__block
                    .news__block-thumb
                      a(href="#!")
                        img(src="./tmp/news-list-block.png", alt="").img-fluid
                    .news__block-content
                      .news__block-title Далеко-далеко за словесными горами 
                      p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах
                .d-none.d-md-block.col-lg-4.col-md-6
                  .news__block
                    .news__block-thumb
                      a(href="#!")
                        img(src="./tmp/news-list-block-2.png", alt="").img-fluid
                    .news__block-content
                      .news__block-title Далеко-далеко за словесными горами 
                      p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах
                .d-none.d-lg-block.col-lg-4
                  .news__block
                    .news__block-thumb
                      a(href="#!")
                        img(src="./tmp/news-list-block-3.png", alt="").img-fluid
                    .news__block-content
                      .news__block-title Далеко-далеко за словесными горами 
                      p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах

            .text-center
              a(href="#!") Все новости

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

