doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Наркопроф 66' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Content
    .content
      
      // News
      .news
        .container

          .content__head
            .h1 новости
            p Актуальная и полезная информация для вашего ознакомления

          .row
            .col-lg-4.col-md-6
              .news__block
                .news__block-thumb
                  a(href="#!")
                    img(src="./tmp/news-list-block.png", alt="").img-fluid
                .news__block-content
                  .news__block-title Далеко-далеко за словесными горами 
                  p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах
            .d-none.d-md-block.col-lg-4.col-md-6
              .news__block
                .news__block-thumb
                  a(href="#!")
                    img(src="./tmp/news-list-block-2.png", alt="").img-fluid
                .news__block-content
                  .news__block-title Далеко-далеко за словесными горами 
                  p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах
            .d-none.d-lg-block.col-lg-4
              .news__block
                .news__block-thumb
                  a(href="#!")
                    img(src="./tmp/news-list-block-3.png", alt="").img-fluid
                .news__block-content
                  .news__block-title Далеко-далеко за словесными горами 
                  p В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах

          .text-center
            a(href="#!") Все новости


    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #fff")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

