/* modules */
.content {
  padding-bottom: 140px;
  &__head {
    .h1, h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
    margin-bottom: 30px;
  }
}

.news {
  padding-top: 100px;
  &__block {
    font-size: 13px;
    margin: 0 auto 25px;
    max-width: 450px;
    &-thumb {
      overflow: hidden;
    }
    &-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    &-content {
      border-left: 3px solid $color-1;
      margin-left: 23px;
      padding-left: 20px;
      padding-top: 50px;
      padding-bottom: 2px;
      margin-top: -30px;
      position: relative;
      z-index: 5;
      pointer-events: none;
      p {
        line-height: 1.4;
        margin-bottom: 0;
      }
    }
  }
}