/* footer */
.footer {
  background-color: #191919;
  color: #696c6d;
  font-size: 13px;
  padding: 35px 0 15px 0;
  a {
    color: $color-white;
  }
  &__info {
    font-size: 11px;
    line-height: 1.4;
  }
  &__bottom {
    hr {
      border: 0;
      border-bottom: 1px solid #303030;
      margin: 15px 0 15px 0;
    }
  }
  &__development {
    text-align: right;
    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      filter: grayscale(1);
      transition: filter 1s;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  &__nav {
    font-size: 13px;
    max-width: 260px;
    margin-bottom: 30px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0 0 20px 0;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: inline-block;
          line-height: 1.4;
          text-decoration: none;
          &:hover {
            color: $link-color;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__contacts {
    background: $color-white;
    color: $primary-color;
    border-radius: 6px;
    overflow: hidden;
    padding: 40px 30px 40px 55px;
    margin-top: -70px;
    margin-left: -15px;
    margin-bottom: 30px;
    max-width: 445px;
    box-shadow: 0 8px 45px rgba($color-black,0.1);
    font-size: 17px;
    font-weight: 500;
    small {
      font-size: 11px;
      color: #696c6d;
    }
    a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    }
    p {
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__phone {
    position: relative;
    padding-left: 55px;
    min-height: 50px;
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 25px;
    margin-left: -17px;
    .b {
      font-size: 35px;
      display: inline-block;
      vertical-align: baseline;
      line-height: 1;
    }
    small {
      font-size: 12px;
      display: block;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      background: url('../images/footer-phone.png') 0 0 no-repeat;
    }
  }
}
