// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #232323;

$color-1: #40b4f8;
$color-2: #f4f4f4;
$color-3: #232323;

$link-color: #40b4f8;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-montserrat: 'Montserrat',  $primary-font;
