/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 1999px) {}

@media only screen and (max-width: 1650px) {}

@media only screen and (max-width: 1439px) {}

@media only screen and (max-width: 1199px) {
  .footer {
    &__contacts {
      max-width: 370px;
      padding-left: 32px;
    }
  }
  .content {
    padding-bottom: 130px;
    &__square {
      &--one {
        display: none;
      }
    }
    &__carousel {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .consultation__wrapper>div+div {
    padding-left: 30px;
  }
  .news {
    &::after {
      display: none;
    }
  }
  .comments {
    padding-bottom: 90px;
  }
  .advantages {
    padding-top: 55px;
  }
  .services {
    &__block {
      &-intro {
        max-height: 104px;
      }
    }
  }
  .about {
    padding-top: 45px;
    &__carousel {
      margin-right: 0;
    }
    &__content {
      padding-left: 0;
    }
  }
  .doctors {
    padding-bottom: 120px;
    &__block {
      padding-right: 308px;
    }
    &__img {
      margin-top: 10px;
      &-img {
        width: 300px;
        height: 300px;
        transform: rotate(19deg);
        img {
          transform: translate(-50%,-50%) rotate(-19deg);
          max-width: 370px;
        }
      }
      &-title {
        margin-left: 23px;
        margin-top: -100px;
      }
      &::after {
        margin-left: 30px;
        margin-top: -45px;
        width: 350px;
        height: 350px;
      }
    }
    &__all {
      padding-top: 0;
    }
  }
  .header {
    &__logo {
      margin-right: 40px;
    }
    &__phone {
      margin-left: 30px;
    }
    &__nav {
      &-ul {
        ul {
          li {
            &>a, &>span {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media only (max-width: 1199px) and (min-width: 992px) {
  .about {
    &__carousel {
      width: 470px;
      &-block {
        img {
          width: 366px;
        }
      }
      .slick {
        &-prev {
          right: 55px;
        }
        &-next {
          right: 26px;
        }
      }
    }
    &__img {
      margin-top: 25px;
      img {
        width: 366px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    &__nav {
      margin-left: 33px;
    }
    &__contacts {
      margin-left: -15px;
      margin-right: -15px;
      max-width: calc(100% + 30px);
    }
  }
  .content {
    padding-bottom: 65px;
  }
  .consultation {
    padding: 45px 0;
    &--footer {
      padding-bottom: 75px;
    }
    &__wrapper {
      flex-direction: column;
      &>div+div {
        padding-left: 0px;
        padding-top: 15px;
      } 
    }
    &__info {
      text-align: center;
    }
  }
  .news {
    padding-top: 90px;
  }
  .advantages {
    padding-top: 30px;
  }
  .services {
    &__block {
      width: calc(100% / 2 - 30px)
    }
  }
  .about {
    padding-top: 25px;
    &__wrapper {
      max-width: 595px;
      margin: 0 auto;
    }
    &__img {
      margin-left: 0;
    }
    &__carousel {
      width: 595px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
  }
  .doctors {
    padding-bottom: 85px;
    &__info {
      padding: 20px 33px;
      margin-bottom: 90px;
      font-weight: 500;
    }
    &__img {
      display: none;
    }
    &__block {
      padding-right: 0;
    }
  }
  .header {
    &__address {
      display: none;
    }
    &__nav-ul {
      display: none;
    }
    &__btn {
      display: block;
    }
  }
  .main-section {
    height: 665px;
    background-image: url(./images/main-section.png);
    background-position: right bottom;
    background-size: 1540px;
    height: auto;
    padding-bottom: 115px;
    min-height: 705px;
    &__wrapper {
      position: relative;
      z-index: 10;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      background: rgba($color-white,0.65);
      height: 200%;
      top: 0;
    }
    &__title {
      font-size: 47px;
      small {
        font-size: 25px;
      }
    }
  } 
  .specialist {
    margin-bottom: 10px;
  }
}

@media only (max-width: 991px) and (min-width: 768px) {
  .aside {
    &__banner {
      margin-bottom: 40px;
      &-wrapper {
        height: 150px;
        background: {
          color: #40b4f8;
          image: url('../images/bg-1.png');
          position: 0 0;
          repeat: no-repeat;
          size: cover;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          position: relative;
          left: inherit;
          bottom: inherit;
          transform: translate(0);
        }
      }
      &-title {
        position: relative;
        bottom: inherit;
        max-width: 360px;
      }
    }
  }
}

@media only screen and (max-width: 799px) {
  .comments {
    &__wrapper {
      .slick-slide {
        padding-left: 62px;
        padding-right: 62px;
        width: auto;
      }
    }
    &__nav {
      max-width: calc(100% - 62px);
    }
  }
  .services {
    &__wrapper {
      &>.row {
        flex-direction: column;
      }
    }
    &__block {
      width: 100%;
      max-width: 344px;
      margin: 0 auto 15px;
    }
  }
  .about {
    &__img {
      display: none;
    }
    &__carousel {
      float: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .h1, h1 {
    font-size: 32px;
  }
  .footer {
    &__contacts {
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
    &__copyright, &__development {
      text-align: center;
    }
    &__copyright {
      margin-bottom: 15px;
    }
  }
  .content {
    padding-bottom: 110px;
    &--all {
      padding-top: 235px;
    }
  }
  .news {
    padding-top: 70px;
  }
  .advantages {
    $this: &;
    &__block {
      padding-top: 0;
      padding-bottom: 35px;
      &:hover {
        background: transparent;
        box-shadow: 0 0 0 rgba($color-black,.07);
        #{$this} {
          &__block {
            &-thumb {
              &::before {
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }
  .comments {
    padding-bottom: 70px;
  }
  .services {
    &__block {
      &-wrapper {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .about {
    &__carousel {
      width: 450px;
      margin-bottom: 70px;
      &-block {
        img {
          width: 450px;
        }
      }
      .slick {
        &-prev {
          right: 65px;
          bottom: -24px;
        }
        &-next {
          right: 36px;
          bottom: -24px;
        }
      }
    }
  }
  .doctors {
    padding-bottom: 65px;
    $this: &;
    &__block {
      margin-bottom: 35px;
    }
    &__wrapper {
      padding-top: 0;
    }
    &__nav {
      background: $color-1;
      border-radius: 20px;
      max-width: 450px;
      margin: 0 auto 35px;
      &.is-active {
        padding-bottom: 10px;
        #{$this} {
          &__nav {
            &-list {
              display: block;
            }
          }
        }
      }
      &-mobile {
        display: block;
      }
      &-list {
        margin-left: 0;
        margin-right: 0;
        display: none;
        ul {
          li {
            a, span {
              padding: 8px 20px;
              min-height: 34px;
              color: $color-white;
              &.active {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .header {
    &__top {
      justify-content: space-between;
      height: 155px;
      flex-wrap: wrap;
    }
    &__logo {
      order: 1;
    }
    &__phone {
      order: 2;
      margin-left: 0;
    }
    &__btns {
      width: 100%;
      order: 3;
      text-align: center;
      .btn {
        width: 100%;
        max-width: 450px;
        position: relative;
        top: -10px;
      }
    }
  }
  .main-section {
    padding-bottom: 80px;
    padding-top: 260px;
    background-position-x: 88%;
    min-height: 735px;
    &__title {
      font-size: 30px;
      small {
        font-size: 25px;
      }
    }
  }
  .main-advantages {
    $this: &;
    &__block {
      width: 60px;
      margin-right: 15px;
      &:hover {
        width: 145px;
        #{$this} {
          &__text {
            width: 145px;
            padding-left: 70px;
          }
        }
      }
    }
    &__img {
      height: 60px;
      width: 60px;
      img {
        width: 40px;
        height: 40px;
      } 
    }
    &__text {
      width: 60px;
      height: 60px;
      font-size: 8px;
    }
  }
}

@media only screen and (max-width: 599px) {
  .comments {
    &__block {
      &-wrapper {
        padding-right: 30px;
        padding-bottom: 190px;
        &::after {
          right: 30px;
          bottom: 180px;
        }
      }
      &-img {
        top: inherit;
        height: 160px;
        img {
          width: 100%;
        }
      }
    }
  }
  .specialist {
    &__block {
      flex-direction: column;
      &-content {
        padding-left: 0;
      }
    }
    &__thumb {
      margin-bottom: 30px;
      &::after {
        top: -125px;
        margin-left: 29px;
      }
    }
  }
  .aside {
    &__banner {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 479px) {
  .footer {
    &__contacts {
      padding-bottom: 30px;
    }
    &__phone {
      font-size: 22px;
      margin-bottom: 15px;
      .b {
        font-size: 22px;
      }
    }
  }
  .content {
    padding-bottom: 100px;
  }
  .news {
    padding-top: 80px;
  }
  .comments {
    &__wrapper {
      .slick-slide {
        padding-left: 53px;
        padding-right: 53px;
      }
    }
    &__block {
      &-wrapper {
        font-size: 14px;
        padding: 15px 15px 110px 15px;  
        p {
          line-height: 1.3;
        }
        &::after {
          bottom: 105px;
        }
      }
      &-img {
        height: 95px;
      }
      &-name {
        font-size: 13px;
        margin-left: 15px;
        padding-left: 15px;
      }
    }
  }
  .doctors {
    &__info {
      font-size: 14px;
      padding: 15px;
      margin-bottom: 80px;
    }
    &__nav {
      margin-left: -15px;
      margin-right: -15px;
      max-width: inherit;
      margin-bottom: 25px;
      &-mobile {
        padding-left: 15px;
        padding-right: 40px;
        &::after {
          right: 18px;
        }
      }
      &-list {
        ul {
          li {
            a, span {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
  .about {
    &__carousel {
      width: 290px;
      &-block {
        img {
          width: 290px;
        }
      }
      .slick {
        &-prev {
          right: 50px;
        }
        &-next {
          right: 20px;
        }
      }
    }
  }
  .header {
    &__top {
      height: 150px;
    }
    &__logo {
      width: 100%;
      margin-right: 0;
      img {
        margin: 0 auto;
      }
    }
    &__phone {
      display: none;
    }
    &__btns {
      .btn {
        top: -6px;
      }
    }
  }
  .main-section {
    padding-bottom: 80px;
    padding-top: 260px;
    background-position-x: 88%;
    &__title {
      font-size: 26px;
      small {
        font-size: 30px;
      }
    }
    &__content {
      display: none;
    }
  }
  .main-advantages {
    $this: &;
    &__block {
      width: 48px;
      margin-right: 12px;
      &:hover {
        width: 48px !important;
      }
    }
    &__img {
      height: 48px;
      width: 48px;
      img {
        width: 31px;
        height: 31px;
      } 
    }
    &__text {
      display: none;
    }
  }
}

@media only screen and (max-width: 319px) {}

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1440px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (min-width: 1920px) {}